/*FONT STYLES*/
$primary-font: 'Roboto', sans-serif;
$large-font:2.8rem;
$medium-font:2.4rem;
$smaller-size: 2em;

/*PRIMARY COLORS*/
$white: #FFF;
$black: #000;
$purple:#6F58C9;
$light-grey:#f3f3f3; 
$twitter-blue: #38a1f3;